<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <i class="fas fa-rocket me-2"></i>MyApp
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-home me-1"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            <i class="fas fa-info-circle me-1"></i>About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">
            <i class="fas fa-envelope me-1"></i>Contact
          </a>
        </li>
  <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">
            <i class="fas fa-envelope me-1"></i>Product Porta
          </a>
        </li>


      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="authDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user me-1"></i>Access Areas
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/user">
                <i class="fas fa-user me-2 text-success"></i>User Portal
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin">
                <i class="fas fa-users-cog me-2 text-warning"></i>Admin Portal
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>